*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conteiner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D4D2D5;
    gap: 20px;
}